body {
    background: #eee !important;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

.title-project h3 {
    color: #b1acca;
    
}

.sub-title-project {
    color: #30283f;
}

.title-project {
    background: #30283f;
    padding: 12px;
}

.sub-title-project {
    background: #b1acca;
    padding: 12px;
}

.content {
    padding: 2% 5%;
}

.content p {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #30283f;
}

.sub-title-project a:hover {
    background-color: #30283f !important;
    color: white;
    cursor: pointer;
}
